.product:hover{
    transition: 1s;
    transform: scale(1.05);
    filter: drop-shadow(2);
    
    .cart{
        display: flex;
        z-index: 99; 

    }
    
}
.search:focus{

  width: 100%;
  height: 70px;
}
.image{
    z-index: 2; 
}

.h1:active{
    border-bottom: 2px solid gray;
}
.h1:focus{
    border-bottom:1px solid gray;
    background-color: red;
}